* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: hsl(234, 17%, 12%);
    background-image: url(./images/bg-stars.svg);
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 10rem;
}

.timer {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 4rem;
}

#timerHead {
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
}

.texts {
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-family: "Red Hat Text", sans-serif;
    font-size: 0.7rem;
    font-weight: 100;
}


#oldDays, #oldHours, #oldMinutes, #oldSeconds {
    background: hsl(235, 16%, 14%);
    color: hsl(345, 95%, 68%);
    padding-top: 0.8rem;
    text-align: center;
    border-radius: 0.3rem;
    height: 2rem;
    width: 4rem;
    box-shadow: 1rem 0px 16px 1px black;
}

.newDate {
    background: hsl(236, 21%, 26%);
    height: 2rem;
    width: 4rem;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
}

.footer {
    background-image: url(./images/pattern-hills.svg);
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 9.7rem;
    height: 8rem;
}

#FB, #pint, #IG {
    height: 2rem;
    margin-top: 4rem;
}