* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: hsl(234, 17%, 12%);
    background-image: url(./images/bg-stars.svg);
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 7rem;
}

.timer {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 4rem;
}

#timerHead {
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    letter-spacing: 0.5rem;
}

.texts {
    text-align: center;
    color: hsl(236, 21%, 26%);
    font-family: "Red Hat Text", sans-serif;
    font-size: 1rem;
    font-weight: 100;
}


#oldDays, #oldHours, #oldMinutes, #oldSeconds {
    background: hsl(235, 16%, 14%);
    color: hsl(345, 95%, 68%);
    padding-top: 0.3rem;
    text-align: center;
    border-radius: 0.4rem;
    height: 3rem;
    width: 7rem;
    font-weight: 900;
    font-size: 4.5rem;
}

.newDate {
    background: hsl(236, 21%, 26%);
    height: 3rem;
    width: 7rem;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    box-shadow: 0rem 5px 0px 0px black;
}

/* .newDate::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -6px;
    z-index: 10;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
} */

.footer {
    background-image: url(./images/pattern-hills.svg);
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 9.7rem;
    height: 8rem;
}

#FB, #pint, #IG {
    height: 2rem;
    margin-top: 4rem;
    cursor: pointer;
}

#IG:hover {
    background: hsl(345, 95%, 68%);
}

#FB:hover {
    background: hsl(345, 95%, 68%);
}

#pint:hover {
    background: hsl(345, 95%, 68%);
}

@media screen and (max-width: 375px) {
    #oldDays, #oldHours, #oldMinutes, #oldSeconds {
        height: 2rem;
        width: 4rem;
        font-size: 3rem;
    }
    
    .newDate {
        height: 2rem;
        width: 4rem;
    }
    
    .texts {
        font-size: 0.7rem;
    }
}